body {
 font-size: 0.875rem;
 line-height: 1.5;
 font-family: "Open Sans",X-LocaleSpecific,sans-serif;
 color: #000;
 margin:0px;
 background-image: url("bg3.jpg");
 background-repeat: no-repeat;
 background-attachment: fixed;
}
html, body{
 height:100%;
}
section,header,nav,footer{
 clear:both;
 display:block;
}
#masterHead{
 width: 100%;
 padding: 0px;

}
#masterHead h1{
 color:#fff;
 text-align:center;
 background-color: #1E1E1E;
 margin-top: 0em;
}
#masterHead nav {
 float: right;
 width: 800px;
 margin: 0px auto;
 padding: 0px;
 text-transform: uppercase;
 font-size: 0.8125rem;
 font-family: "Open Sans",X-LocaleSpecific,sans-serif;
}
nav ul{
 padding:0;
 magin:0;
 liste-style-type:none;
 height:20%;
 margin-left: 314px;
}
nav li{
 display:inline-block;
 margin:0px;
 padding:0px;
 text-align:center;
 font: 1em "Trebuchet MS",Arial,sans-serif ;
 line-height: 1em ;
 margin-right:1px;
}
nav li :hover{
 background: #900 ;
 text-decoration: underline ;
}
nav li a{
 padding: 4px 20px ;
 background: #A3A3A3 ;
 color: #fff ;
 border: 1px solid #600 ;
 font: 1em "Trebuchet MS",Arial,sans-serif ;
 line-height: 1em ;
 text-align: center ;
 text-decoration: none ;
}
a {
 color: #0096DD;
 text-decoration: none;
}
#content{
 margin: 0px;
 padding: 0px;
 margin-top: 80px;
 clear:both;
 height: 100%;
}
#contentCV{
 margin: 7% auto 3%;
 margin-top: 7%;
 margin-right-value: auto;
 margin-bottom: 3%;
 margin-left-value: auto;
 margin-left-ltr-source: physical;
 margin-left-rtl-source: physical;
 margin-right-ltr-source: physical;
 margin-right-rtl-source: physical;
 box-shadow: 10px 10px 5px #000;
 width: 80%;
 position: relative;
 background-color: #FFF;
 direction: ltr;
 overflow: hidden;
 height: auto;
 display: table;
}
#contentCV section{
 width:100%;
}
#links {
 font-family: sans-serif;
 font-size: 16px;
 text-align: center;
}
#link {
 margin-left: 5px;
 float: left;
 list-style: outside none none;
}
#contentCV fieldset{
 margin-top: 5px;
 padding: 8px;
 border-radius: 16px;
 border-color: #666;
}
div #brefDetails{
 width:35%;
 float:left;
 color: #000;
}
#brefDetails article{
 margin-left:4px;
}
#brefDetails #profile-stats{
 float: left;
 width: 248px;
 margin: 0px 0px 0px 47px;;
 position: relative;
}
#brefDetails #profile-stats .profile-photo{
 border-radius: 100%;
 background-clip: padding-box;
 border: 5px solid #FFF;
 box-shadow: 0px 0px 2px rgba(0, 2, 2, 0.2);
 width: 150px;
 height: 150px;
 display: block;
 position: relative;
 left: auto;
}
#brefDetails #profile-stats .profile-photo img{
 border-radius: 100%;
 background-clip: padding-box;
 width: 100%;
 height: auto;
}
#profile-stats .desc #membership{
 position: relative;
 width: auto;
 border: 4px solid rgba(0, 0, 0, 0.04);
 background: #fff;
}
#profile-stats .desc #membership .name form label{
 display:inline;
 font-size:16px;

}
#profile-stats .desc #membership .name h1{
 font-size: 18px;
 letter-spacing: -1px;
}

div #Details{
 width:60%;
 float:left;
}
div #Details legend{
 color: #DD2121;
 font: 2em "Trebuchet MS",Arial,sans-serif;
}
#Details .Education  .year{
 width:20%;
}
#Details .Skills .tech{
 width:40%;
}
#Details .Skills .stars{
 font: 50px "Segoe UI";
 letter-spacing: 1.5cm;
}
#Details .Language .tech{
 width:40%;
}
#Details .Language .stars{
 font: 50px "Segoe UI";
 letter-spacing: 1.5cm;
}
#Details .Hobbies li{
 display:inline-block;
 width: 44%;
}
* th {
 text-align: left;
}
div #content li:before {
 font-family: 'FontAwesome';
 content: '\f067';
 margin:0 5px 0 -15px;
}

div #content #row{
 display:inline-block;
}
#content .contactMe{
 float: left;
 width:60%;
 display:inline;

}
#content .findMe{
float:left;
width:30%;
display:inline;
}
#content .contactMe form {
 /* Just to center the form on the page */
 margin: 0 auto;
 width: 400px;
 /* To see the outline of the form */
 padding: 1em;
 border: 1px solid #CCC;
 border-radius: 1em;
}
#content .contactMe form div + div {
 margin-top: 1em;
}
#content .contactMe label {
 /* To make sure that all label have the same size and are properly align */
 display: inline-block;
 width: 90px;
 text-align: right;
 color:#fff;
 font-size:13px;
 font-weight:bold;
}
#content .contactMe input, textarea {
 /* To make sure that all text fields have the same font settings
 By default, textareas have a monospace font */
 font: 1em sans-serif;

 /* To give the same size to all text field */
 width: 300px;
 -moz-box-sizing: border-box;
 box-sizing: border-box;

 /* To harmonize the look & feel of text field border */
 border: 1px solid #999;
}
#content .contactMe input:focus, textarea:focus {
 /* To give a little highlight on active elements */
 border-color: #000;
}
#content .contactMe textarea {
 /* To properly align multiline text fields with their labels */
 vertical-align: top;

 /* To give enough room to type some text */
 height: 5em;

 /* To allow users to resize any textarea vertically
 It does not work on every browsers */
 resize: vertical;
}
#content .contactMe .button {
 /* To position the buttons to the same position of the text fields */
 padding-left: 90px; /* same size as the label elements */
}
#content .contactMe button {
 /* This extra margin represent roughly the same space as the space
 between the labels and their text fields */
 margin-left: .5em;
}
.explore-pjax-container {
 position: relative;
}
#content .contactMe span{
 display:inline-block;
 border-radius:4px;
 width:50px;
}
.container {
 width: 980px;
 margin-right: auto;
 margin-left: auto;
}
.explore-marketing-header.is-animating {
 animation: 1s ease 0s normal none 1 running fadein;
}
.explore-marketing-header {
 margin: 10px auto 30px;
 text-align: center;
}
.explore-marketing-header h2 {
 margin: 0px 0px 5px;
 font-size: 32px;
 font-weight: normal;
 line-height: 1.1;
}
.explore-marketing-header .lead {
 margin: 5px 0px 0px;
}
.lead {
 margin-bottom: 30px;
 font-size: 20px;
 font-weight: 291;
 color: #FE0000;
}
.clearfix{
 margin-left: 101px;
}
.clearfix::before {
 display: table;
 content: "";
}
.clearfix::after {
 display: table;
 clear: both;
 content: "";
}
.collection-card {
 position: relative;
 float: left;
 width: 313px;
 margin-right: 20px;
 margin-bottom: 20px;
 list-style-type: none;
 background: none repeat scroll 0% 0% #F7F7F7;
 border: 1px solid #DDD;
 border-radius: 3px;
}
.collection-card-image {
 position: relative;
 display: table;
 width: 313px;
 height: 120px;
 margin: -1px -1px 15px;
 background:repeat scroll center center #555;
 box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1) inset;
 text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
 color: #FFF;
 border-top-right-radius: 3px;
 border-top-left-radius: 3px;
}
.collection-card-title {
 padding: 0px 15px;
 margin: 10px 0px;
 display: table-cell;
 width: 100%;
 height: 100%;
 font-size: 19px;
 font-weight: bold;
 text-align: center;
 vertical-align: middle;
}
.collection-card-body {
 padding: 0px 15px;
 margin: 0px 0px 10px;
 height: 6em;
 overflow: hidden;
 font-size: 15px;
 line-height: 1.5em;
}
.collection-card-meta {
 padding: 0px 15px;
 margin-top: 5px;
 margin-bottom: 15px;
 color: #777;
}
.collection-card-meta .last-updated {
 float: right;
 margin-right: 0px;
}
.tooltipped {
 position: relative;
}
.octicon {
 font: 16px/1 octicons;
 display: inline-block;
 text-decoration: none;
 -moz-user-select: none;
}
.collection-card-meta {
 color: #777;
}
.collection-card {
 list-style-type: none;
}
.octicon-clock::before {
 content: "";
}
.octicon {
 font: 16px/1 octicons;
}
#map-canvas {
 width: 400px;
 height: 250px;
}
footer{
 background-color: #1E1E1E;
 color: #FFF;
 height: 4em;
}
footer p {
 float:right;
 font-weight: 400;
 width:20%;
}
div .video{
 width: 73%;
 margin-top: 13em;
 margin-left: 26em;
}
video{width:73%;}
#PlayPuzzle {
 background-color: #AA9D9D;
 padding: 5px;
 margin-top: 3em;
 max-width: 800px;
 width: 88%;
 margin-left: 8em;
 margin-bottom: 1em;
}
#PlayPuzzle h3{
 font-weight: normal;
 margin: 3px 0px;
 text-align: center;
 color:#EEEEEE;
}
hr{
 border-width: 2px medium medium;
 border-style: solid none none;
 border-color: #F5F2F2 -moz-use-text-color -moz-use-text-color;
 -moz-border-top-colors: none;
 -moz-border-right-colors: none;
 -moz-border-bottom-colors: none;
 -moz-border-left-colors: none;
 border-image: none;
 height: 1px;
}
div .Puzzle{
 display: inline-block;
 margin: auto;
 width: 95%;
 vertical-align: top;
}
#PlayPuzzle .sortable {
 border: 2px solid #A46;
 list-style-type: none;
 display: inline-block;
 margin: 10px;
 padding: 0px;
 width: 400px;
}
#PlayPuzzle .sortable li {
 background-size: 400% 400%;
 border: medium none;
 cursor: pointer;
 margin: 0px;
 padding: 0px;
 float: left;
 width: 100px;
 height: 100px;
}
#PlayPuzzle #originalImageBox {
 display: inline-block;
 font-size: 1em;
 margin: 10px;
 vertical-align: top;
 width: 250px;
}
.group:before,
.group:after {
 content: "";
 display: table;
}
.group:after {
 clear: both;
}
.group {
 clear: both;
 *zoom: 1;
}
section {
 float: left;
 margin: 0 1.5%;
 width: 63%;
}
aside {
 float: right;
 margin: 0px 1.5%;
 width: 19%;
 margin-top: 8.5%;
}
.btn {
 background: #3498db;
 background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
 background-image: -moz-linear-gradient(top, #3498db, #2980b9);
 background-image: -ms-linear-gradient(top, #3498db, #2980b9);
 background-image: -o-linear-gradient(top, #3498db, #2980b9);
 background-image: linear-gradient(to bottom, #3498db, #2980b9);
 -webkit-border-radius: 28;
 -moz-border-radius: 28;
 border-radius: 28px;
 font-family: Arial;
 color: #ffffff;
 font-size: 20px;
 padding: 10px 20px 10px 20px;
 text-decoration: none;
}

.btn:hover {
 background: #3cb0fd;
 background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
 background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
 background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
 background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
 background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
 text-decoration: none;
}
